<section class="panel panel-default">
   <div class="panel-heading">
    <h3 class="panel-title">About Me</h3>
  </div>
   <div class="list-group">
   		<div class="list-group-item" ><img src='{{ root_url }}/images/email-32.png' width='20px' heigh='25px'> <a href='mailto:anggi.riyandi@gmail.com'>anggi.riyandi@gmail.com</a></div>
  		<div class="list-group-item"><img src='{{ root_url }}/images/twitter-32.png' width='20px' heigh='25px'><a href='https://twitter.com/anggi_riyandii'> anggi_riyandii</a></div>
  		<div class="list-group-item"><img src='{{ root_url }}/images/facebook-32.png' width='20px' heigh='25px'><a href='https://www.facebook.com/anggi.riyandi.5'> facebook.com/anggi.riyandi.5</a></div>
  </div>
</section>